* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1d2a35;
}
.nav ul {
    background-color: #38444d;
    box-shadow: 1px black;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
.nav li {
    float: left;
}
.nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 18px 10px;
    text-align: center;
    font-size: 17px;
    border-right: 2px solid #1d2a35;
}
.nav li a:hover {
    background-color: #1d2a35;
    color: white;
    transition: .3s;
}
#aboutme {
    border-left: 2px solid #1d2a35;
}

.wrapper {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.main {
    float: left;
    max-width: 79%;
    border-radius: 10px;
    background-color: #38444d;
}
.main h1 {
    padding: 10px;
    color: white;
}
.rightside {
    max-width: 20%;
    float: right;
    overflow-wrap: break-word;
    background-color: #38444d;
}
.rightside p {
    color: white;
    padding: 10px;
}