* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}
/* Navigation */
.nav {
    display: flex;
    background-color: black;
}
.nav a {
    color: white;
    padding: 14px 20px;
    border-right: 1px solid white;
    text-decoration: none;
    text-align: center;
}
.nav a:hover {
    color: black;
    background-color: #ddd;
    transition: .2s;
}
@media screen and (max-width: 700px) {
    .nav {
        flex-direction: column;
    }
    .nav a {
        border-bottom: 1px solid white;
    }
}